.action-btn {
  width: 20px;
  height: 20px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background: rgba(255, 255, 255, 0);
  border-radius: 50%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE & old Edge */
* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #00ffff;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00ff00;
}

/*page smooth transition*/
@view-transition {
  navigation: auto;
}

main {
  view-transition-name: main-page;
}

::view-transition-group(main-page) {
  animation-duration: 0.2s;
}

::view-transition-old(main-page) {
  animation-name: slide-out;
}
@keyframes slide-out {
  to {
    translate: -100vw;
  }
}

::view-transition-new(main-page) {
  animation-name: slide-in;
}
@keyframes slide-in {
  from {
    translate: 100vw;
  }
}
